<div class="bg-image">
<section class="hero is-fullheight back">
    <div class="root hero-body has-text-centered">
    <div class="login">
        <h4 class="title has-text-link">Enter your email</h4>
        <hr class="login-hr">
        <form #mailForm="ngForm" (ngSubmit)="resetPassword(mailForm)">
        <div class="field">
            <div class="control">
                <p class="control has-icons-left">
            <input class="input is-medium is-rounded" type="email"
            placeholder="Type youe email..." name="email" ngModel required />
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            </p>
            </div>
        </div>
        <br />
        <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
            Send
        </button>
        </form>
        <br>
        <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <a routerLink="/login" class="alfa">Go back to login?</a>
            </div>
        </div>
        <div class="level-item has-text-centered" style="margin-left:10px;">
            <div>
            <a routerLink="/home" class="alfa">Go back to home page</a>
            </div>
        </div>
        </nav>
    </div>
    </div>
</section>
</div>