  .root {
    --shadowDark: #D9DDE6;
    --shadowLight: #EFF5FE;
  }
  
  .bg-image {
    background-image: url('../../images/blurred.jpeg');
    background-size: cover;
  }
  
  .hero-body {
    justify-content: center;
  }
  
  .login {
    border-radius: 25px;
    padding: 1.5rem;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  }
