
<!-- ovako prikazujemo vrijednosti atributa -->
<!-- <p>My project title is {{title}}</p>  -->


<!-- <div>
  <button class="button is-primary" (click)="handleClick()">Click here!</button>
</div> -->

<!-- <hr/> -->
<!-- prikazuje element ako je neki uslov zadovoljen -->
<!-- <b><p *ngIf="showParagraph">This is another paragraph</p></b> -->

<!-- <b><p *ngIf="showParagraph; else  something">This is another paragraph</p></b> -->

<!-- <ng-template #something>
  <p>Showing something else for now!</p>
</ng-template> -->

<!-- ngFor prolazi kroz elemente liste i renderuje ih -->

<!-- Ovako u zavisnosti od ispunjenog uslova css klasa se lijepi na atribut.Isto kao class='...' -->
<!-- <p [ngClass]="{'active':isActive}"> Tralala</p> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>

